USE [master]
GO
/****** Object:  Database [ServiceDispozitiveDB]    Script Date: 09/01/2026 20:01:23 ******/
CREATE DATABASE [ServiceDispozitiveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ServiceDispozitiveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ServiceDispozitiveDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ServiceDispozitiveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ServiceDispozitiveDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ServiceDispozitiveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ServiceDispozitiveDB]
GO
/****** Object:  User [student]    Script Date: 09/01/2026 20:01:23 ******/
CREATE USER [student] FOR LOGIN [student] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [student]
GO
/****** Object:  Table [dbo].[Angajat]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Angajat](
	[AngajatID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](50) NOT NULL,
	[Prenume] [varchar](50) NOT NULL,
	[Functie] [varchar](50) NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[DataAngajare] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AngajatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Client]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](50) NOT NULL,
	[Prenume] [varchar](50) NOT NULL,
	[Telefon] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Adresa] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dispozitiv]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Dispozitiv](
	[DispozitivID] [int] IDENTITY(1,1) NOT NULL,
	[TipDispozitiv] [varchar](50) NOT NULL,
	[Producator] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Serie] [varchar](50) NULL,
	[Stare] [varchar](30) NULL,
	[ClientID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DispozitivID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[SumaTotala] [decimal](10, 2) NULL,
	[InterventieID] [int] NOT NULL,
	[DataEmitere] [date] NULL,
	[Profit] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Interventie]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Interventie](
	[InterventieID] [int] IDENTITY(1,1) NOT NULL,
	[DispozitivID] [int] NOT NULL,
	[AngajatID] [int] NULL,
	[DataStart] [date] NULL,
	[DataFinalizare] [date] NULL,
	[DescriereProblema] [varchar](200) NULL,
	[SolutieAplicata] [varchar](200) NULL,
	[CostManopera] [decimal](10, 2) NULL,
	[Status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[InterventieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InterventiePiesa]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterventiePiesa](
	[InterventieID] [int] NOT NULL,
	[PiesaID] [int] NOT NULL,
	[Cantitate] [int] NOT NULL,
	[CostTotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InterventieID] ASC,
	[PiesaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Piesa]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Piesa](
	[PiesaID] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [varchar](100) NOT NULL,
	[Producator] [varchar](50) NULL,
	[Pret] [decimal](10, 2) NOT NULL,
	[Stoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PiesaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Utilizator]    Script Date: 09/01/2026 20:01:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilizator](
	[UtilizatorID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Parola] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilizatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Angajat] ON 

INSERT [dbo].[Angajat] ([AngajatID], [Nume], [Prenume], [Functie], [Telefon], [Email], [DataAngajare]) VALUES (1, N'Vasilescu', N'Mihai', N'Tehnician Senior', N'0722001122', N'mihai.v@service.com', CAST(N'2018-05-10' AS Date))
INSERT [dbo].[Angajat] ([AngajatID], [Nume], [Prenume], [Functie], [Telefon], [Email], [DataAngajare]) VALUES (2, N'Preda', N'Ioana', N'Receptioner', N'0744998877', N'ioana.p@service.com', CAST(N'2020-01-15' AS Date))
INSERT [dbo].[Angajat] ([AngajatID], [Nume], [Prenume], [Functie], [Telefon], [Email], [DataAngajare]) VALUES (3, N'Gheorghe', N'Radu', N'Tehnician Junior', N'0766334455', N'radu.g@service.com', CAST(N'2022-11-20' AS Date))
SET IDENTITY_INSERT [dbo].[Angajat] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [Nume], [Prenume], [Telefon], [Email], [Adresa]) VALUES (1, N'Popescu', N'Andrei', N'0722123456', N'andrei.p@mail.com', N'Str. Florilor nr. 10')
INSERT [dbo].[Client] ([ClientID], [Nume], [Prenume], [Telefon], [Email], [Adresa]) VALUES (2, N'Ionescu', N'Maria', N'0744654321', N'maria.i@mail.com', N'B-dul Libertatii nr. 5')
INSERT [dbo].[Client] ([ClientID], [Nume], [Prenume], [Telefon], [Email], [Adresa]) VALUES (3, N'Georgescu', N'Cristian', N'0766112233', N'cristi.g@mail.com', N'Aleea Rozelor bl. 3')
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Dispozitiv] ON 

INSERT [dbo].[Dispozitiv] ([DispozitivID], [TipDispozitiv], [Producator], [Model], [Serie], [Stare], [ClientID]) VALUES (1, N'Telefon', N'Apple', N'iPhone 12', N'SN1234567A', N'Inregistrat', 1)
INSERT [dbo].[Dispozitiv] ([DispozitivID], [TipDispozitiv], [Producator], [Model], [Serie], [Stare], [ClientID]) VALUES (2, N'Laptop', N'Dell', N'XPS 13', N'SN9876543B', N'Inregistrat', 2)
INSERT [dbo].[Dispozitiv] ([DispozitivID], [TipDispozitiv], [Producator], [Model], [Serie], [Stare], [ClientID]) VALUES (3, N'Imprimanta', N'HP', N'LaserJet M102', N'SN1122334C', N'Inregistrat', 1)
SET IDENTITY_INSERT [dbo].[Dispozitiv] OFF
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([FacturaID], [ClientID], [SumaTotala], [InterventieID], [DataEmitere], [Profit]) VALUES (2, 2, CAST(280.50 AS Decimal(10, 2)), 2, CAST(N'2025-11-14' AS Date), CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Factura] ([FacturaID], [ClientID], [SumaTotala], [InterventieID], [DataEmitere], [Profit]) VALUES (3, 3, CAST(95.00 AS Decimal(10, 2)), 4, CAST(N'2025-11-15' AS Date), CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[Factura] ([FacturaID], [ClientID], [SumaTotala], [InterventieID], [DataEmitere], [Profit]) VALUES (4, 4, CAST(320.00 AS Decimal(10, 2)), 5, CAST(N'2025-11-16' AS Date), CAST(70.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Factura] OFF
SET IDENTITY_INSERT [dbo].[Interventie] ON 

INSERT [dbo].[Interventie] ([InterventieID], [DispozitivID], [AngajatID], [DataStart], [DataFinalizare], [DescriereProblema], [SolutieAplicata], [CostManopera], [Status]) VALUES (1, 1, 1, CAST(N'2025-11-10' AS Date), CAST(N'2026-01-09' AS Date), N'Display spart', N'Inlocuire display', CAST(150.00 AS Decimal(10, 2)), N'Finalizata')
INSERT [dbo].[Interventie] ([InterventieID], [DispozitivID], [AngajatID], [DataStart], [DataFinalizare], [DescriereProblema], [SolutieAplicata], [CostManopera], [Status]) VALUES (2, 2, 4, CAST(N'2025-11-11' AS Date), CAST(N'2025-11-14' AS Date), N'Baterie uzata', N'Inlocuire baterie', CAST(100.00 AS Decimal(10, 2)), N'Finalizata')
INSERT [dbo].[Interventie] ([InterventieID], [DispozitivID], [AngajatID], [DataStart], [DataFinalizare], [DescriereProblema], [SolutieAplicata], [CostManopera], [Status]) VALUES (3, 3, 1, CAST(N'2025-11-12' AS Date), CAST(N'2026-01-09' AS Date), N'Nu trage hartia', N'Resetare software', CAST(50.00 AS Decimal(10, 2)), N'Finalizata')
SET IDENTITY_INSERT [dbo].[Interventie] OFF
INSERT [dbo].[InterventiePiesa] ([InterventieID], [PiesaID], [Cantitate], [CostTotal]) VALUES (1, 1, 1, CAST(450.00 AS Decimal(10, 2)))
INSERT [dbo].[InterventiePiesa] ([InterventieID], [PiesaID], [Cantitate], [CostTotal]) VALUES (2, 2, 1, CAST(180.50 AS Decimal(10, 2)))
INSERT [dbo].[InterventiePiesa] ([InterventieID], [PiesaID], [Cantitate], [CostTotal]) VALUES (3, 3, 1, CAST(120.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Piesa] ON 

INSERT [dbo].[Piesa] ([PiesaID], [Denumire], [Producator], [Pret], [Stoc]) VALUES (1, N'Display iPhone 12', N'OEM', CAST(450.00 AS Decimal(10, 2)), 20)
INSERT [dbo].[Piesa] ([PiesaID], [Denumire], [Producator], [Pret], [Stoc]) VALUES (2, N'Baterie Laptop', N'Dell', CAST(180.50 AS Decimal(10, 2)), 15)
INSERT [dbo].[Piesa] ([PiesaID], [Denumire], [Producator], [Pret], [Stoc]) VALUES (3, N'Toner Imprimanta HP', N'HP', CAST(120.00 AS Decimal(10, 2)), 30)
SET IDENTITY_INSERT [dbo].[Piesa] OFF
SET IDENTITY_INSERT [dbo].[Utilizator] ON 

INSERT [dbo].[Utilizator] ([UtilizatorID], [Username], [Parola]) VALUES (1, N'admin', N'admin')
SET IDENTITY_INSERT [dbo].[Utilizator] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Dispozit__798299D72EE0707A]    Script Date: 09/01/2026 20:01:23 ******/
ALTER TABLE [dbo].[Dispozitiv] ADD UNIQUE NONCLUSTERED 
(
	[Serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Factura__C300E26D35867A84]    Script Date: 09/01/2026 20:01:23 ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[InterventieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Utilizat__536C85E47C7B4395]    Script Date: 09/01/2026 20:01:23 ******/
ALTER TABLE [dbo].[Utilizator] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dispozitiv]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([InterventieID])
REFERENCES [dbo].[Interventie] ([InterventieID])
GO
ALTER TABLE [dbo].[Interventie]  WITH CHECK ADD FOREIGN KEY([AngajatID])
REFERENCES [dbo].[Angajat] ([AngajatID])
GO
ALTER TABLE [dbo].[Interventie]  WITH CHECK ADD FOREIGN KEY([DispozitivID])
REFERENCES [dbo].[Dispozitiv] ([DispozitivID])
GO
ALTER TABLE [dbo].[InterventiePiesa]  WITH CHECK ADD FOREIGN KEY([InterventieID])
REFERENCES [dbo].[Interventie] ([InterventieID])
GO
ALTER TABLE [dbo].[InterventiePiesa]  WITH CHECK ADD FOREIGN KEY([PiesaID])
REFERENCES [dbo].[Piesa] ([PiesaID])
GO
USE [master]
GO
